/* Black: #000000 */
/* Brown #585447 */
/* Medium Beige: #B4A890 */
/* Beige: #D6C6AC */
/* Light Gray: #E5E6DF */

/*

BASIC TOOLS

    background-color:
    color:  (changes color of text)

TEXT TOOLS

    font-family:
    font-size:
    font-style:
    font-weight:

    font-kerning:
    letter-spacing:
    word-spacing:
    line-height:

    text-transform:

    text-align:

    color:
    text-shadow:


SPACING TOOLS

    padding:
    padding-top:
    padding-left:
    padding-right:
    padding-bottom:

    margin:

    border:

LAYOUT TOOLS

    div:;
    fieldset:;
    legend:;

FORM TOOLS
    input:;
    input[type= ]:;
    select:;
    textarea:;
    label:;
    element:;
*/
    body{
        margin:0px;
        background-color:rgb(200,200,200);
    }

/* HEADINGS: TEXT DEFINITIONS */
    h1{
        font-family:"Helvetica","Arial",sans-serif;
        text-transform:uppercase;
        padding-left:0px;
        text-align:center;
        font-size:40px;
    }
    h2 {
        font-family:Helvetica;
        font-size:20px;
    }
    h3 {
        font-family:Helvetica;
        font-size:16px;
    }
    h4 {
        font-family:Helvetica;
        font-size:12px;
        font-weight:lighter;
    }
    h5 {
        font-family:Helvetica;
        font-size:8px;
    }

/* NAVIGATION: POSITIONING */

    nav ul { /* container for list elements; */
        position:fixed;
        bottom:0px;
        width:100%;
        background-color:whitesmoke;
        margin:0px;
        padding:0px;
        padding-top:20px;
        padding-bottom:20px;
        text-align:center;
    }

    nav li { /* the list elements; controls interactions between list elements, bullet point removal */
        list-style-type:none;
        display:inline;

        margin:10px;
        padding:0px;
    }
    nav a{ /* the hyperlinks themselves */
        font-family:Helvetica,Arial,sans-serif;

        text-transform:uppercase;
        text-decoration:none;
        color:rgb(0,0,0);

        padding:20px;
        margin:10px;
    }

    nav .active{
        font-weight:bold;
        border-bottom:1px solid black;
        border-radius:20px;
}


/* PORTFOLIO - ARTWORK POSITIONING */
    div.artworkbody{
        margin:100px;
        margin-top:-20px;
    }

    fieldset{
        border:0px solid black;
        border-color:rgb(0, 0, 0);
        /* padding:80px 80px 00px 80px; */
        margin:0px;
        padding:0px;
        background-color:whitesmoke;
    }

    fieldset.individual{
        width:100%;
        margin-bottom:80px;
    }

    fieldset.individual img{
        width:inherit;
        border:0px solid whitesmoke;
        margin:0px;
        padding:0px;
    }

    fieldset.individual h3 .title{
        text-align:center;
    }

    legend.bordertitle{
        font-family:Helvetica, Arial, sans-serif;
        font-weight:bold;
        font-style:oblique;
        text-transform:uppercase;
        letter-spacing:4px;
        font-size:16px;
    }

    legend.bordersubtitle{
        font-family:Helvetica, Arial, sans-serif;
        letter-spacing:1px;
    }

    h3.artworktitle{
        font-family:Helvetica, Arial, sans-serif;
        text-align:center;
        font-size:large;
    }

    h4.artworksubtitle{
        font-family:Helvetica, Arial, sans-serif;
        text-align:center;
        font-size:medium;
    }

/* PARAGRAPH TAG FONT CHANGES */
    div.artiststatement {
        font-family: Georgia, Times, serif;
        font-weight:lighter;
        margin: 80px;
        padding: 0px;
        line-height: 30px;
        text-align:center;
    }

/* CONTACT FORM */
    .contactcontainer{
        padding:20px;
        margin:80px;
        margin-top:-60px;
        font-family:Helvetica, Arial, sans-serif;
        font-weight:bold;
        letter-spacing:1px;
        line-height:45px;
    }

    input{
        width:100%;
        line-height:30px;
        font-size:18px;
        font-family:Georgia,Times,serif;
    }

    input[type=submit]{
        background-color:rgb(0,0,0);
        font-family:Helvetica,Arial,sans-serif;
        letter-spacing:1px;
        font-size:medium;
        color:whitesmoke;
        margin-top:30px;
        width:101%;
        padding:40px;
    }

    button {
        width:100%;
        font-size:medium;
        font-family:Helvetica,Arial,sans-serif;
        letter-spacing:1px;
        margin-top:40px;
        padding-top:10px;
        padding-bottom:10px;
        color:whitesmoke;
        background-color:black;

    }

    input[type=text],select,textarea{
        width:100%;
        resize:vertical;
    }

    label {
        margin-bottom:20px;
    }

/* MAKING IT - PROCESS */
    div.process { /* CONTAINER FOR PROCESS */
        margin: 80px;
        margin-top: -40px;
    }

    div.steps {
        max-width: 100%;
    }

    dt {
        line-height: 20px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight:bold;
        font-size:large;
        margin-left:100px;
        margin-top:-40px;
    }

    dd {
        font-family: Georgia, Times, serif;
        font-size:medium;
        line-height:40px;
        margin: 20px;
        margin-left: 80px;
        margin-right: 80px;
    }

    div.steps img {
        margin: 10px;
        max-width: 100%;
        text-align: center;
    }

    div.makingofimages img{
        max-width:100%;
        inline-size:auto;
        text-align: center;
        padding:0px;
    }


    /* ABOUT - ADJUSTMENTS */

    div.about {
        text-align: center;
        margin: 80px;
        margin-top: -40px;
    }

    div.about img{
        width:300px;
        height:auto;
        margin-top:-20px;
    }

    div.about p {
        margin-left:40px;
        margin-right:40px;
        line-height: 30px;
        text-align:left;
        font-family: Georgia, Times, serif;
    }

/* GENERAL LAYOUT TOOLS */
    div.spacer {
        margin: 60px;
    }